@import url('https://fonts.googleapis.com/css?family=Lato');

/* Colors */
$primary-bg-color: #f4f4f4;
$dark-bg-color: #202020;
$primary-text-color: #333;
$light-text-color: #f4f4f4;



/* Globals */
* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  background: $primary-bg-color;
  font-family: 'Lato',
    sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: $primary-text-color;
}

/* Image Containers */
.imgContainer1,
.imgContainer2,
.imgContainer3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  /* 
    fixed position = parallax
    scroll = normal 
  */
  background-attachment: fixed;
}

.imgContainer1 {
  background-image: url("../img/landscapeID-01.jpg");
  min-height: 100%;
}

.imgContainer2 {
  background-image: url("../img/landscapeID-02.jpg");
  min-height: 100%;
}

.imgContainer3 {
  background-image: url("../img/landscapeID-03.jpg");
  min-height: 100%;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical */
  align-items: center;
  /* horizontal */
  padding: 50px 80px;

  &.section-light {
    background-color: $primary-bg-color;
    color: $primary-text-color;
  }

  &.section-dark {
    background-color: $dark-bg-color;
    color: $light-text-color;
  }
}

/* img-text */
.img-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;

  .border {
    background-color: #000;
    color: $light-text-color;
    padding: 20px;
    opacity: .75;

    &.trans {
      background-color: transparent;
    }
  }
}


/* Mixins */
@mixin small() {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@include small {}